<div id="dots-playground">
	<div
		id="dots-bounds"
		[style.left.px]="redRectangleDimensions.x"
		[style.top.px]="redRectangleDimensions.y"
		[style.width.px]="redRectangleDimensions.width"
		[style.height.px]="redRectangleDimensions.height"
	>
	</div>
	<div id="dots">

		<div
			class="dot"
			*ngFor="let dot of dots"
			[style.left.px]="dot.x"
			[style.top.px]="dot.y"
			[style.border-color]="dot.color"
			(click)="changeColor(dot)"
		></div>

	</div>

	<button (click)="moveRedRectangle()">Move red rectangle</button>

</div>