#dots-playground {
	border: 2px solid black;
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;

	#dots-bounds {
		border: 2px solid red;
		position: absolute;
		transition: all .2s ease;
		box-sizing: border-box;
	}

	#dots {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		.dot {
			position: absolute;
			height: 8px;
			width: 8px;
			border-radius: 50%;
			border: 4px solid;
			transform: translate(-50%, -50%);
		}
	}

	button {
		position: absolute;
		top: 10px;
		left: 10px;
	}
}